<div class="flex items-center flex-col bg-c2 h-[100vh] w-[100vw] gap-16">
  <div class="text-c1 text-xl mt-[50px]">
    Choose <span class="text-4xl">your hero</span>
  </div>
  <div class="flex flex-wrap w-full justify-center">
    <div *ngFor="let hero of heroes" class="sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5">
      <app-card (click)="navigateTo(hero.key)"
                [backgroundColor]="heroPowerColorService.backgroundColorPicker(hero.power)" [hero]="hero"
                [powerTextColor]="this.heroPowerColorService.colorPicker(hero.power)"></app-card>
    </div>
  </div>
</div>
<div class="absolute right-[94px] top-[16px]">
  <app-text-container [text]="'My Profile'" [containerColor]="'blue'" (click)="myProfile()"></app-text-container>
</div>
<div class="absolute right-[12px] top-[16px]">
  <app-text-container class="logOut" [text]="'Logout'" [containerColor]="'#FF0000'"
                      (click)="logOut()"></app-text-container>
</div>
