<div class="container" style="background-image: url('background.jpg');">

  <div class="card">
    <div>
      <form (submit)="onSubmit()">
        <div class="form-group space">
          <div>{{nrInmat.length}} masini se afla in parcare din totalul de {{maxCapacity}} de locuri disponibile. In acest moment in parcare
          sunt {{maxCapacity - nrInmat.length}} locuri disponibile</div>
          <input class="form-control description" [formControl]= "nrInmatriculare" placeholder="Numar de inmatriculare">
        </div>
        <div class="row space">

          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success full">Trimite</button>
          </div>

        </div>
      </form>
      <form (submit)="onSubmitCap()">
        <div class="form-group space">
          <input class="form-control description" [formControl]= "maxCap" placeholder="Capacitate maxima">
        </div>
        <div class="row space">

          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success full">Trimite</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="container nrInmatricul" *ngFor="let nr of nrInmat">Numar de inmatriculare: {{nr.nrInmatriculare}}</div>
</div>
