<div class="bg-c2 h-screen w-screen text-c1 " *ngIf="hero; else elseBlock">
  <img class="w-full h-[212px] relative object-cover" src="{{hero.backgroundUrl}}">
  <img class="absolute w-[32px] h-[32px] left-[12px] top-[18px] rounded-full" (click)="redirect()"
       src="../../../assets/images/back-arrow.jpeg">
  <div class="flex justify-center relative w-full -top-[130px]">
    <img class="absolute w-[118px] h-[118px] object-cover rounded-full"
         src="{{hero!.avatarUrl}}">
  </div>

  <div class="absolute right-[94px] top-[16px]">
    <app-text-container [text]="'My Profile'" [containerColor]="'blue'" (click)="myProfile()"></app-text-container>
  </div>
  <div class="absolute right-[12px] top-[16px]">
    <app-text-container class="logOut" [text]="'Logout'" [containerColor]="'#FF0000'"
                        (click)="logOut()"></app-text-container>
  </div>
  <div class="px-[31px] py-[42px]">
    <div class="flex justify-between">
      <div>
        <div class="font-semibold text-xl leading-7 mb-2">Welcome to</div>
        <div class="font-semibold text-3xl leading-7">{{hero!.name}}!</div>
      </div>
      <div>
        <div class="font-semibold">Power:</div>
        <div class="font-semibold {{this.heroPowerColorService.colorPicker(hero.power)}}">{{hero!.power}}</div>
      </div>
    </div>
    <div class="pt-[34px]">
      <div class="pb-[10px] font-semibold text-lg leading-7">Story</div>
      <app-text-container [text]="hero!.story" [containerColor]="'#333333'"></app-text-container>
      <div class="flex justify-between pt-[24px]">
        <app-text-container [text]="hero!.age + ' years old'" [containerColor]="'#333333'"></app-text-container>
        <app-text-container [text]="'Weight: ' + hero!.weight+' kg'" [containerColor]="'#333333'"></app-text-container>
      </div>
    </div>
    <div class="pt-[24px] flex justify-center">
      <app-text-container class="button" *ngIf="!hero.completed" (click)="navigateTo(hero.key)" [text]="'Start'"
                          [containerColor]="'#32B4CC'"></app-text-container>
      <app-text-container class="button" *ngIf="hero.completed" (click)="retry(hero.key)" [text]="'Retry'"
                          [containerColor]="'green'"></app-text-container>
    </div>
  </div>
</div>
<ng-template class="bg-c2 text-c1" #elseBlock>Loading...</ng-template>
