/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

body {
  background-color: black;
}

.mat-mdc-checkbox label {
  @apply text-c1 !important;
}

app-text-container.button {
  .container {
    @apply px-[24px];
  }
  .content {
    @apply text-c2 font-semibold;
  }
}

app-text-container.logOut {
  .content {
    @apply text-c2 font-semibold;
  }
}

app-text-container.progress-day {
  .container {
    @apply flex justify-center;
  }

  .content {
    @apply text-xl font-semibold leading-6;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-checkbox__background {
  @apply h-[25px] w-[25px] bg-c8 rounded-full !important;
}

.mdc-linear-progress__buffer {
  @apply h-[50px] !important;
}

.mdc-linear-progress__buffer-bar {
  @apply h-[50px] !important;
}

.mat-mdc-progress-bar {
  @apply h-[16px] rounded-lg !important;
}

.mdc-linear-progress__bar-inner {
  border-top-width: 16px !important;
}
